

 
body{
    
    
    background-color:appworkspace;
       color:darkred;
       text-align: center;
       font-style:normal;
       
      
       
  
}
h1{
   
    font-size: 20px;
    text-transform: uppercase;
}
 #tr1{color:white;background-color:red;}

 #tr2:hover{background-color:darkred;color: white;width: inherit}
/* #tr2:nth-child(even){background-color:darkred;color: white;}*/
   

table {
    border-collapse:collapse;
    
}
 
